:root {
  --background-color: #102a43;
  --second-color: #243b53;
  --third-color: #334e68;
  --shadow-color: 0 0 5px #00000073;
  --margin-preset: 0.25rem;
  --gap-preset: calc(2 * var(--margin-preset));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none;
}

div::-webkit-scrollbar {
  display: none;
}

h2 {
  text-align: center;
  padding: 6px;
}

input[type='button'], input[type='submit'], input[type='text'], button, textarea, select {
  margin: var(--margin-preset);
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  border: solid;
  border-width: thin;
}

textarea {
  height: 150px;
  width: calc(100% - var(--margin-preset) * 2);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  flex-wrap: wrap;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--background-color);
}

.category-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-more {
  position: relative;
  display: inline;
  z-index: 1;
}

.category-dropdown {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  white-space: nowrap;
  background-color: var(--third-color);
  border-radius: 2px;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
}

.category-dropdown a {
  padding: var(--gap-preset);
  width: 100%;
}

.deck-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.deck {
  position: relative;
  background-color: transparent;
  width: clamp(100px, calc(50vw - (4rem / 2)), 200px);
  height: 150px;
  perspective: 1000px;
}

.deck-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--second-color);
  box-shadow: var(--shadow-color);
  flex-wrap: wrap;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.deck:hover {
  transform: translate(3px, -3px);
  transition: 300ms;
}

.flashcard-form-modal-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: fade(white, 50%);
  z-index: 2;
}

.flashcard-form-modal {
  height: fit-content;
  min-width: 100px;
  max-width: calc(200px + var(--margin-preset) * 4);
  background-color: var(--background-color);
  box-shadow: var(--shadow-color);
  padding: var(--margin-preset);
}

.flashcard-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-preset);
  padding: var(--gap-preset);
}

.flashcard {
  position: relative;
  background-color: transparent;
  width: clamp(100px, calc(50vw - calc(var(--gap-preset) * 3 / 2)), 200px);
  height: 150px;
  perspective: 1000px;
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flashcard-sideA, .flashcard-sideB {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--second-color);
  box-shadow: var(--shadow-color);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  flex-wrap: wrap;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.flashcard:hover {
  transform: translate(3px, -3px);
  transition: 300ms;
}

.flashcard-sideB {
  transform: rotateY(180deg);
  background-color: var(--third-color);
}

.landing-div {
  margin: auto;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  width: clamp(300px, calc(90vw), 800px);
  height: 40vh;
}

.landing-div p {
  line-height: 150%;
}

.landing-div button {
  align-self: flex-start;
}

.layout {
  padding-bottom: 4rem;
}

.left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.left a[data-active='true'] {
  color: gray;
}

.right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}