:root {
  --background-color: #102a43;
  --second-color: #243b53;
  --third-color: #334e68;
  --shadow-color: 0 0 5px #00000073; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

a {
  color: inherit;
  text-decoration: none;
}

div::-webkit-scrollbar {
  display: none;
}

h2 {
  text-align: center;
  padding: 6px;
}

input, button {
  margin: 1px;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  flex-wrap: wrap;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--background-color);
}

.category-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-more {
  position: relative;
  display: inline;
}

.category-dropdown {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  z-index: 1;
  background-color: var(--third-color);
  border-radius: 2px;
}

.category-dropdown a {
  margin: 1rem;
}

.deck-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

.deck {
  position: relative;
  background-color: transparent;
  width: clamp(100px, calc(50vw - (4rem / 2)), 200px);
  height: 150px;
  perspective: 1000px;
}

.deck-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--second-color);
  box-shadow: var(--shadow-color);
  flex-wrap: wrap;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.deck:hover {
  transform: translate(3px, -3px);
  transition: 300ms;
}

.flashcard-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.flashcard {
  position: relative;
  background-color: transparent;
  width: clamp(100px, calc(50vw - (3rem / 2)), 200px);
  height: 150px;
  perspective: 1000px;
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flashcard-sideA, .flashcard-sideB {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--second-color);
  box-shadow: var(--shadow-color);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  flex-wrap: wrap;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.flashcard:hover {
  transform: translate(3px, -3px);
  transition: 300ms;
}

.flashcard-sideB {
  transform: rotateY(180deg);
  background-color: var(--third-color);
}

.layout {
  padding-bottom: 4rem;
}

.left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.left a[data-active='true'] {
  color: gray;
}

.right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}